body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

canvas {
  width: 90vmin;
  height: 90vmin;
  border: 4px solid #333;
}